/* Design by STUDIO7DESIGNS.com
Company:	Nautica X - Opensourcetemplates.org
File:		main.css - This contains all the main styles for the website.

All the styles are separted into the following groups:
Global Browser Reset - they make sure that all browsers start with the same default settings
HTML, Body - for the html and body tags
Layout - any style that defines how the site is laid out (position and size of objects)
Nav - navigation bar
Headings - headings like h1, h2, etc
Text Styles - Styles for text
Lists - unordered and ordered lists
Forms - html forms
Links - links
Misc - anything that doesn't fit elsewhere
*/

/* @group Global Browser Reset */
* {

padding:0;

margin:0;

}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, fieldset, address { margin:20px 0; }

li, dd, blockquote { margin-left: 40px; }

fieldset { padding:10px; }

img { border: 0px; }
/* @end */

/* @group HTML, Body */
body {
	text-align: center;
	font-size: 1em;
	font-family: Verdana, sans-serif;
}
/* @end */

/* @group Layout */
div#outer-wrapper {
}
div#inner-wrapper {
	background: url(../images/header-bkg.gif) repeat-x;
}
div#content-wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
div#logo {
	background: url(../images/logo-box-bkg.gif) no-repeat;
	width: 194px;
	height: 225px;
	margin-top: 4px;
	text-align: center;
}
div#logo img {
	margin-top: 85px;
}
div#sidebar {
	float: left;
	width: 210px;
	margin-left: -50px;
	margin-top:60px;

}
div#content {
	float: right;
	width: 730px;
	margin-right: 30px;
	display: inline;
}
div#content-inner {
	margin-top: 20px;
	padding: 1px 0;
	background: url(../images/leaf-watermark.gif) no-repeat bottom right;
}
div.content-left {
	padding: 4px;
	width: 218px;
	float: left;
	display: inline;
}
div.content-left img {
	border: 1px solid #fff;
}
div.content-left p {
	background-color: #dc3409;
	margin: 4px 0 0 0 !important;
	color: #fff;
	text-align: center;
	font-family: "Times New Roman", serif;
	padding: 2px;
	font-size: 1.3em;
	border: 1px solid #fff;
}
div.content-left p span {
	font-size: .8em;
}
div.content-right {
	float: left;
	margin-left: 20px;
	width: 484px;
	display: inline;
}
div.content-full {
	clear: both;
	padding-top: 15px;
}
p.end-story-links {
	border-bottom: 4px solid #d1b9b3;
	margin-bottom: 15px !important;
	font-size: .8em;
}
div#footer {
	clear: both;
	border-top: 1px solid #5e534f;
	
	padding: 10px;
}

img.content-img {
	float: left;
	border: 2px solid #ccc;
	margin: 0 10px 10px 0;
}

/* @end */

/* @group Nav */
ul#nav {
	margin: 0 0 20px 0;
	height: 40px;
	line-height: 45px;
	font-size: 1.2em;
	font-family: "Times New Roman", serif;
	overflow: hidden;
}
ul#nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	margin: 0 20px 0 0;
}
ul#nav li a:link, ul#nav li a:visited {
	color: #7d7257;
	color: #202020;
	text-decoration: none;
}
ul#nav li a:hover {
	color: #3f3e3a;
	color:#26466D;
}

h4.side-nav{	
    color:#26466D;
}

ul.side-nav {
	margin: 10px 5px 10px 17px;
	border-top: 1px solid #e9e7e7;
	font-size: 1.4em;
	color: #978f7c;
/* 	text-transform: uppercase; */
    background-color: #fff;     
}
ul.side-nav li {
	margin: 0;
	list-style-type: none;
	padding: 1px 0;
}
ul.side-nav li a {
	display: block;
	border-bottom: 1px solid #e9e7e7;
	margin: 0;
	padding: 10px 0 10px 20px;
	/*background: url(../images/side-nav-bullet.gif) no-repeat 5px 50%;*/

}
ul.side-nav li a:link, ul.side-nav li a:visited {
	color: #978f7c;
	color:#202020;
	text-decoration: none;
}
ul.side-nav li a:hover {
	/*background: url(../images/side-nav-bullet-light.gif) no-repeat 5px 50% #f6f5f0;*/
	color: #cac6ba;
	color:#26466D;
}

ul#footer-nav {
	font-family: "Times New Roman", serif;
	font-size: 1.0em;
	color: #5e534f;
	height: 35px;
	margin: 0 0 10px 0;
}
ul#footer-nav li {
	display: inline;
	margin: 0;
	padding: 0 10px 0 5px;
	border-right: 1px solid #958d83;
}
ul#footer-nav li.last {
	border-right: none;
}
ul#footer-nav li a:link, ul#footer-nav li a:visited {
	color: #5e534f;
	color:#202020;
	text-decoration: none;
}
ul#footer-nav li a:hover {
	color: #453e3b;
	color:#26466D;
}
/* @end */

/* @group Headings */
h1 { }
h2 {
	margin: 0 0 0 0;
	font-family: "Times New Roman", serif;
	font-weight: lighter;
	font-size: 1.8em;
	color: #464031;
}
h3.dateline {
	font-size: .8em;
	font-weight: lighter;
	color: #dc3409;
	margin: 0 0 10px 0;
}
h4 {
	margin-left: 25px;
	margin-right: 10px;
/* 	text-transform: uppercase; */
	font-weight: lighter;
	margin-bottom: 10px;
	font-family: "Times New Roman", serif;
	color: #a1a09b;
}
h5 { }
h6 { }
/* @end */

/* @group Text Styles */
div#content-inner {
	font-size: 0.8em;
	color: #929291;
	line-height: 1.7em;
}
div#content-inner p {
	margin: 2px 0 30px 0;
}
p.copyright {
	font-size: .65em;
	font-family: "Times New Roman", serif;
	color: #797069;
	text-transform: uppercase;
	margin: 10px 0;
}
/* @end */

/* @group Lists */
	
/* @end */

/* @group Forms */
form#search-form {
	/*width: 150px;*/
	float: right;
	margin: 4px 0 0 0;
	border-right: 1px solid #736749;
	border-left: 1px solid #736749;
	border-bottom: 1px solid #736749;
}
form#search-form input.txt {
	width: 140px;
	/*border: 1px solid #736749;*/
	/*border-top: 4px solid #635534;*/
	border: none;
	margin: 0;
	padding: 4px;
	background-color: #dbd6c9;
	color: #fff;
	text-transform: uppercase;
}
/* @end */

/* @group Links - link visited hover active */
div#content-inner a:link, div#content-inner a:visited {
	color: #8b7f73;
	text-decoration: none;
	border-bottom: 1px dotted #8b7f73;
}
div#content-inner a:hover {
	color: #706153;
	border-bottom: 1px dotted #706153;
}

p.end-story-links a:link, p.end-story-links a:visited {
	color: #8b7f73;
	text-decoration: none;
	border-bottom: none !important;
}

p.copyright a:link, p.copyright a:visited {
	color: #797069;
	text-decoration: none;
}
p.copyright a:hover {
	color: #453e3b;
}
/* @end */

/* @group Misc */
.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */
